<!--
  https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet
-->
<ActionBar title="Airbnb Lottie Ng" icon="" class="action-bar"></ActionBar>
<ScrollView>
  <GridLayout rows="auto, auto, auto, auto, auto" columns="*" class="p-10">
    <label
      row="0"
      col="0"
      text="Since NativeScript is native Android and iOS it easily supports Lottie - Thanks Airbnb!!!"
      class="h3"
      textWrap="true"
    ></label>
    <StackLayout row="1" orientation="vertical">
      <LottieView
        height="150"
        width="auto"
        (loaded)="firstLottieLoaded($event)"
      ></LottieView>
    </StackLayout>
    <StackLayout row="2" class="hr-grey"></StackLayout>
    <StackLayout row="3">
      <button 
        text="Next" 
        class="p-10 btn btn-primary" 
        (tap)="next()"
      ></button>
      <button
        text="Toggle looping"
        class="p-10 btn btn-primary"
        (tap)="toggleLoop()"
      ></button>
      <button
        text="Start / Stop"
        class="p-10 btn btn-primary"
        (tap)="toggleAnimation()"
      ></button>
      <!-- <Slider
        width="100%"
        (valueChange)="onSliderChange($event)"
        minValue="0"
        [maxValue]="maxProgress"
      ></Slider> -->
    </StackLayout>
    <StackLayout row="4" class="hr-grey">
        <LottieView
        height="400"
        width="auto"
        (loaded)="secondLottieLoaded($event)"
      ></LottieView>
      <WrapLayout height="120" width="100%">
          <StackLayout height="50%" width="20%" backgroundColor="red" (tap)="setTheme('red')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="gold" (tap)="setTheme('gold')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="green" (tap)="setTheme('green')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="orange" (tap)="setTheme('orange')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="gray" (tap)="setTheme('gray')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="#191970" (tap)="setTheme('#191970')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="#00bfff" (tap)="setTheme('#00bfff')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="#8b008b" (tap)="setTheme('#8b008b')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="#2f4f4f" (tap)="setTheme('#2f4f4f')"></StackLayout>
          <StackLayout height="50%" width="20%" backgroundColor="#8b4513" (tap)="setTheme('#8b4513')"></StackLayout>
      </WrapLayout>
    </StackLayout>
  </GridLayout>
</ScrollView>
