.idea/
.vscode/
.tscache/
/demo/node_modules/
/demo/platforms/
/demo/app/temp/
/demo/app/assets/
/demo-angular/node_modules/
/demo-angular/platforms/
/demo-angular/app/temp/
/demo-angular/app/assets/
node_modules/
.settings/

.DS_Store
*.js.map
*.tar
*.tgz
*.gz
*.zip
*.js
*.log
nativescript-lottie.*.d.ts
!src/scripts/*.js
!demo/webpack.config.js
!demo-angular/webpack.config.js
!demo-vue/webpack.config.js

!demo/karma.conf.js
!demo-angular/karma.conf.js

!demo/app/tests/tests.js
!demo-angular/app/tests/tests.js

## Vue demo
!demo-vue/**/*.js
