.idea/
.vscode/
.tscache/
/demo/node_modules/
/demo/platforms/
/demo/app/temp/
/demo-ng/node_modules/
/demo-ng/platforms/
/demo-ng/app/temp/
/demo-ng/app/assets/
node_modules/
.settings/

.DS_Store
*.js.map
*.tar
*.tgz
*.gz
*.zip
*.js
*.log
nativescript-lottie.*.d.ts