demo/
demo-ng/
.git/
.idea/
docs/
bin/
tests/
screens/
sample-effects/
graphics/
.vs/
.settings/
.vscode/
node_modules/
pnpm-global/
.tscache/

.gitignore
.npmignore
.DS_Store
.editorconfig
.bablerc
.eslintignore
.travis.yml
.jshintrc
*.sln
*.md
*.tmp
*.log
*.ts
*.js.map
*.tar
*.tgz
*.gz
*.zip

!index.d.ts

references.d.ts
tsconfig.json
tslint.json
karma.conf.js
typings.json
typedoc.json

